@use "./base.scss";


// Mermaid styling
code.mermaid svg {
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
}
pre:has(code.mermaid) button.clipboard-button {
  display: none;
}
@media (max-width: 800px) {
  pre:has(code.mermaid) button.expand-button {
    display: none;
  }
}

/* make Mermaid links more visible. */
html[saved-theme="dark"] .mermaid .nodeLabel p a {
  color: white;
}

html[saved-theme="dark"] .mermaid .nodeLabel p a:hover {
  color: #d5d5d5;
}

html[saved-theme="light"] .mermaid .nodeLabel p a {
  color: #171717;
}

html[saved-theme="light"] .mermaid .nodeLabel p a:hover {
  color: #595959;
}